<div class="off-canvas-wrapper">
    <div class="mobile-header-wrapper">
        <div class="clearfix searchform-wrapper">
	        <div id="awesome-search-app-mobile">
			    <awesome-search :placeholderText="placeholderText"></awesome-search>
			</div>
		</div>
        {% include 'partials/menu/user.twig' %}
       	
       	{% include "partials/menu/primary.twig" %}
    </div>
</div>