<div class="btn btn-info add-to-cart-wrapper">
  <a class="text-white add-to-cart-link" href='{{product.product.add_to_cart_url}}' data-item="{{product.id}}">
    {{product.product.add_to_cart_text}}
  </a>
</div>