@font-face {
    font-family: "Acme";
    src: url("../fonts/Acme/Acme-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "PWScratched2";
    src: url("../fonts/PWScratched2/PWScratched2.ttf") format("truetype")
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../fonts/OpenSans-Light/OpenSans-Light.ttf") format("truetype")
}

