body.page-template-template-taxonomy-landing-page{
  .terms-wrapper{
    .terms{
      padding: 0 $padding*2;

      @include media-breakpoint-up(sm){
        padding: 0;
      }

      .term{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: $padding;

        .img-wrapper{
          padding: $padding*2 $padding*6;
        }

        .product-count{
          font-style: italic;
          font-weight: 300;
          font-size: .8rem;
        }

        .card-link{
          padding: $padding 0;
          margin-top: auto;
        }
      }
    }
  }
}